* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 219, 221);
}

#main-container {
    width: 80vh;
    height: 80vh;
    border: 4px solid gray;
    padding: 20px;
    background-color: rgb(212, 205, 205);
}

h1,
p {
    text-align: center;
}

#content {
    margin-top: 20px;
    column-count: 3;
}